/*generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/*header*/
header{
  background-color: rgba(0, 0, 0, .8);
  height: 80px;
  width: calc(100% - 200px);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
}

/*pulsante nell'header*/
header .btn{
  padding: 10px 30px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  margin-right: 5px;
}

header .btn a{
  text-decoration: none;
  color: #FCFCFC;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*main*/

main .container{
  display: flex;
}

main .menu-laterale{
  background-color: black;
  color: white;
  width: 200px;
  height: calc(100vh - 80px);
}

main .main-content{
  width: calc(100% - 200px);
  height: calc(100vh - 80px);
  overflow-y: auto;
}

/*footer*/
footer{
  height: 80px;
  width: 100%;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}