/*generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #141922;
  overflow: hidden;
}

/*utility*/
.debug{
  background-color: rgba(214, 151, 183, 0.25);
  border: 1px solid brown;
}

/*header*/
header{
  background-color: rgba(0, 0, 0, .7);
  height: 80px;
  width: calc(100% - 200px);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 999;
}

/*pulsante nell'header*/
header .btn{
  padding: 10px 30px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  margin-right: 7px;
}

header .btn a{
  text-decoration: none;
  color: #FCFCFC;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
}

header .btn:hover{
  transform: scale(1.1);
}

/*main*/
main .container{
  display: flex;
}

/*menu laterale*/
main .menu-laterale{
  background-color: black;
  color: white;
  width: 200px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*menu rapido del menu laterale*/
main .menu-laterale .menu-rapido, .bottom-menu{
  padding: 20px;
  color: #7c7e83;
  line-height: 200%;
  font-size: .8rem;
  font-weight: bold;
}

main .menu-laterale .menu-rapido ul{
  list-style: none;
}

main .menu-laterale .menu-rapido #logo-big{
  width: 70%;
}

main .menu-laterale .menu-rapido #logo-small{
  display: none;
}

main .menu-laterale .menu-rapido nav ul li img{
  width: 20px;
}

main .menu-laterale .menu-rapido .lista-playlist{
  overflow: auto;
  height: calc(100vh - 440px);
}

main .menu-laterale .menu-rapido h4{
  color: white;
  font-size: .9rem;
  margin-top: 15px;
}

main .menu-laterale .menu-rapido .fa-square-plus{
  font-size: 2.5rem;
}

/*bottom menu del menu laterale*/
.download{
  padding-bottom: 5px;
  border-bottom: 1px solid #7c7e83;
}

main .menu-laterale .bottom-menu .download img{
  width: 18px;
}

main .menu-laterale .bottom-menu .profile{
  margin-top: 7px;
  display: flex;
  align-items: center;
}

main .menu-laterale .bottom-menu .profile img{
  width: 20px;
  background-color: #7c7e83;
  border-radius: 50%;
  margin-right: 7px;
}

main .menu-laterale .bottom-menu .profile span{
  color: white;
  font-size: .9rem;
}

/*effetto hover nel menu laterale*/
main .menu-laterale li:hover, main .menu-laterale span:hover{
  color: white;
  cursor: pointer;
}

/*classe active nel menu laterale*/
main .menu-rapido .active{
  width: 3px;
  height: 23px;
  background-color: lime;
  position: absolute;
  left: 0;
}

/*main content*/
main .main-content{
  width: calc(100% - 200px);
  height: calc(100vh - 80px);
  overflow-y: auto;
}

/*main nav*/
main .main-content .main-menu{
  margin-top: 90px;
}

main .main-content .main-menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  overflow-x: hidden;
}

main .main-content .main-menu ul li{
  padding: 10px;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  color: #7c7e83;
  cursor: pointer;
}

main .main-content .main-menu ul li.active{
  border-bottom: 3px solid lime;
}

main .main-content .main-menu ul li:hover{
  color: white;
}

/*recently played*/
main .box{
  margin: 30px 10px;
  overflow-x: hidden;
}

main .box h2{
  color: white;
  margin: 0 0 20px 10px;
}

main .box h2:nth-of-type(3){
  margin-top: 40px;
}


main .box .row{
  display: flex;
  flex-wrap: wrap;
}

main .box .row .box-song{
  width: calc(100% / 6 - 20px);
  overflow-y: hidden;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
}

main .box .row .box-song .album{
  position: relative;
  margin-bottom: 30px;
}

main .box .row .box-song .album img{
  max-width: 100%;
}

main .box .row .box-song p{
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

main .box .suggerimenti{
  color: #5A5A5A;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
}

main .box .row .box-song span{
  color: #5A5A5A;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

main .box .row .box-song .rounded{
  border-radius: 50%;
}

/*effetto hover nel main*/
main .box-song .play{
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

main .box-song .play #click-play{
  color: white;
  font-size: 3.5rem;
}

main .box-song .album:hover .play{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*footer*/
footer{
  height: 80px;
  width: 100%;
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 998;
}

/*footer left*/
footer .footer-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
  color: #7c7e83;
}  

footer .footer-left .anteprima{
  display: flex;
  align-items: center;
}

footer .footer-left .anteprima img{
  width: 6vh;
  margin: 0 10px;
}

footer .footer-left .anteprima .brano{
  font-weight: bold;
  font-size: 0.7rem;
}

footer .footer-left .anteprima .brano p:first-child{
  color:#FFFFFF;
  font-size: 0.8rem;
}

footer .footer-left .options{
  display: flex;
  flex-shrink: 0;
}

footer .footer-left .options i{
  margin-left: 5px;
  cursor: pointer;
}

footer .footer-left .options i:hover{
  color: #FFFFFF;
}

footer .footer-left .anteprima .brano p:nth-of-type(2):hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/*footer center*/
footer .footer-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-center .player-top{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer .footer-center .player-top i{
  color: white;
  font-size: 1.1rem;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

footer .footer-center .player-top .fa-circle-play{
  font-size: 1.5rem;
}

footer .footer-center .player-top .fa-circle-play:hover{
  transform: scale(1.2);
}


footer .footer-center .player-bottom #pitch{
  width: 25vw;
  margin-top: 5px;
  cursor: pointer;
}

footer .footer-center .player-bottom span{
  font-size: .8rem;
  padding: 5px;
}


/*footer right*/
footer .footer-right{
  display: flex;
}

footer .footer-right .icons{
  display: flex;
  flex-shrink: 0;
}

footer .footer-right i{
  color:#FCFCFC;
  padding: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

footer .footer-right .bar{
  align-items: center;
}

footer .footer-right .bar #pitch{
  width: 12vw;
  margin-right: 10px;
  cursor: pointer;
}


/************soluzioni resposnive**************/

@media screen and (max-width: 589px){
  /*menu laterale*/
  main .menu-laterale{
    width: 50px;
    align-items: center;
  }

  header, main .main-content{
    width: calc(100vh - 50px);
  }

  main .menu-laterale .menu-rapido #logo-big{
    display: none;
  }

  main .menu-laterale .menu-rapido #logo-small{
    display: block;
    width: 20px;
    padding-bottom: 10px;
  }

  main .menu-rapido .active{
    display: none;
  }

  main .menu-laterale .menu-rapido nav ul li span, .menu-rapido h4, .menu-rapido .lista-playlist, .menu-rapido span, .menu-laterale .bottom-menu span{
    display: none;
  }

  main .menu-laterale .bottom-menu .download{
    border: none;
    margin-left: 20px;
  }

  main .menu-laterale .bottom-menu .profile{
    width: 40px;
    margin-left: 20px;
  }

  /*footer left*/
  footer .footer-left .anteprima img{
    width: 5vh;
  }

  footer .footer-left .brano p{
    font-size: .6rem;
  }

  footer .footer-left .options{
    flex-direction: column;
  }

}

/*contenuto del main*/
@media screen and (max-width: 900px){
  main .box .row .box-song{
    width: calc(100% / 4 - 20px);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px){
  main .box .row .box-song{
    width: calc(100% / 2 - 20px);
    margin-bottom: 30px;
  }
}

